<!DOCTYPE html>
<html>
  <head>
    <title>Pow Apps</title>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body ontouchstart="">
    <div class="container">
      <ul>
        <% @apps.each do |app| %>
          <li>
            <a<%= ' class="dead"' if app.dead? %> href="<%= app.url %>">
              <img class="favicon" src="<%= app.favicon %>" width="16" height="16">
              <%= app.name %>
            </a>
          </li>
        <% end %>
      </ul>
      <div class="version">
        powapps <a href="https://github.com/daz/powapps">v<%= Powapps::VERSION %></a>
      </div>
    </div>
    <script>
      window.onload = function() {
        var links = document.querySelectorAll('li a');
        for (var i = links.length - 1; i >= 0; i--) {
          links[i].addEventListener('click', slide, false);
        }
      }

      function slide() {
        document.querySelector('.container').className = 'container slide';
      }

      // Force reload on iOS if hit via back button

      if ((/iphone|ipod|ipad.*os 5/gi).test(navigator.appVersion)) {
        window.onpageshow = function(event) {
          if (event.persisted) {
            document.body.style.display = 'none';
            location.reload();
          }
        }
      }
    </script>
  </body>
</html>
