<!DOCTYPE html>
<html>
  <head>
    <title>Pow Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body ontouchstart="">
    <div class="container">
      <ul>
        <% @apps.each do |app| %>
          <li>
            <a<%= ' class="dead"' if @dead_apps.include?(app) %> href="http://<%= app %>.<%= @domain %>"><%= app %></a>
          </li>
        <% end %>
      </ul>
      <p class="version">
        powapps <a href="https://github.com/daz/powapps">v<%= Powapps::VERSION %></a>
      </p>
    </div>
    <script>
      window.addEventListener('load', function() {
       setTimeout(function() {
        window.scrollTo(0, 0);
        }, 0);
      });
    </script>
  </body>
</html>
